header {
  background-color: #1228ee;
  top: 0;
  left: 0;
  position: fixed;

  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  margin-bottom: 20px;
}

.searchform {
  display: flex;
  align-items: center; /* Center items vertically */
  background-color: white; /* White background for the search bar */
  /* border-radius: 5px; */ /* Rounded corners for the search bar */

  max-width: 600px; /* Optional: Max width for the search bar */
  width: 100%;
}

.searchbutton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.searchinput {
  background: none;
  border: none;
  outline: none; /* Remove outline on focus */
  flex: 1;
}
