#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none; /* Видаляє маркери або нумерацію */
  padding: 0; /* Видаляє внутрішні відступи */
  margin: 0; /* Видаляє зовнішні відступи */
}
